# Python/Django
__pycache__/
*.py[cod]
*.log

# Environments
.venv/
venv/
env/

# Django artifacts
*.sqlite3
db.sqlite3

# Uploads/Media
media/
uploads/

# OS/IDE
.DS_Store
.idea/
.vscode/
.env
.env.*
